<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet" />
    <script src="./funcoes_produtos.js" defer type="module"></script>

    <title>Lumière Cosméticos</title>
</head>

<body>
    <header>
        <div class="cabecalho">
            <p>
                <span style="font-weight: bold">FRETE GRÁTIS</span>
                <span>para compras acima de</span>
                <span style="font-weight: bold">R$99,00</span>
            </p>
        </div>
    </header>
    <div class="menu">
        <img src="./img/logo-menu.png" alt="logo Lumière Cosméticos" />
        <div>
            <p class="opcoes-menu">
                <span>Inicio</span>
                <span>Produtos</span>
                <span>Maquiagem</span>
                <span>Sobre nós</span>
            </p>
        </div>
        <div class="pesquisar">
            <input class="input-pesquisar" type="text" />
            <button class="img-pesquisar">
                <img src="./img/pesquisar.png" alt="pesquisar" />
            </button>
        </div>
    </div>
    <main>
        <div class="banner-1">
            <img class="img-banner-1" src="./img/banner-1.png" alt="imagem de Maquiagem" />
            <p class="texto-banner-1">
                <span>Realce sua </span>
                <span class="texto-banner-1-rosa">beleza natural</span>
            </p>
            <p class="texto-banner-2">
                <span>Produtos de alta qualidade para cuidar</span>
                <span class="texto-2">de você todos os dias</span>
            </p>
        </div>
        <div class="bloco-card-1">
            <div class="card">
                <div class="bloco-1">
                    <img src="./img/frete-gratis.png" alt="caminhao de frete gratis" />
                    <div>
                        <p class="texto-bloco-1">
                            <span style="font-weight: bold">Frete Grátis</span>
                            <span>Acima de R$ 99,00</span>
                        </p>
                    </div>
                </div>

                <div class="bloco-1">
                    <img src="./img/original.png" alt="caminhao de frete gratis" />
                    <div>
                        <p class="texto-bloco-1">
                            <span style="font-weight: bold">Produtos Originais</span>
                            <span>Garantia de Qualidade</span>
                        </p>
                    </div>
                </div>

                <div class="bloco-1">
                    <img src="./img/cartao.png" alt="caminhao de frete gratis" />
                    <div>
                        <p class="texto-bloco-1">
                            <span style="font-weight: bold">Até 6x sem juros</span>
                            <span>No cartão de crédito</span>
                        </p>
                    </div>
                </div>

                <div class="bloco-1">
                    <img src="./img/compra-segura.png" alt="caminhao de frete gratis" />
                    <div>
                        <p class="texto-bloco-1">
                            <span style="font-weight: bold">Compra Segura</span>
                            <span>Seus dados protegidos</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="texto-categorias">
            <p>Categorias em destaque</p>
        </div>

        <div class="container-categorias">
            <div class="categorias">
                <div class="card-1-skincare">
                    <img src="./img/card-1.png" alt="imagem de produtos de skincare" />
                    <p class="texto-card-1">
                        <span style="font-weight: bold">Skincare</span>
                        <span>Cuide da sua pele</span>
                    </p>
                </div>

                <div class="card-1-maquiagem">
                    <img src="./img/card-1-make.png" alt="imagem de produtos de Maquiagem" />
                    <p class="texto-card-1">
                        <span style="font-weight: bold">Maquiagem</span>
                        <span>Realce sua beleza</span>
                    </p>
                </div>

                <div class="card-1-cabelos">
                    <img src="./img/card-2-cabelo.png" alt="imagem de produtos de cabelo" />
                    <p class="texto-card-1">
                        <span style="font-weight: bold">Cabelos</span>
                        <span>Cuidado e brilho</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="titulo-produtos">
            <p>Produtos mais vendidos</p>
        </div>

        <div class="container-produtos">
            <div class="produtos">
                <div class="card-produtos">
                    <img src="./img/cosmetico-serum.png" alt="" />
                    <p class="texto-produtos">
                        <span style="font-weight: bold">Serum Hidratante</span>
                        <span>30ml</span>
                        <span style="font-weight: bold">R$80,00</span>
                        <span>Até 6x de R$14,98</span>
                    </p>
                    <button class="botao-adicionar">
                        <div class="interno-botao">
                            <span style="font-weight: bold">ADICIONAR</span>
                        </div>
                        <img src="./img/carrinho.png" alt="carrinho de compras" />
                    </button>
                </div>
            </div>
        </div>

        <div class="banner-2">
            <img src="./img/banner-2.png" alt="imagem de pincel com maquiagem">
            <div class="cadastro-novidades">
                <div class="texto-cadastro">
                    <p class="novidades-texto-1">
                        <span>Receba novidades exclusivas!</span>
                    </p>
                    <p class="novidades-texto-2">
                        <span>Cadastre seu e-mail e aproveite ofertas especiais.</span>
                    </p>
                </div>
                <div class="input-cadastrar">
                    <input type="email" name="" id="email" placeholder="Seu melhor e-mail">
                    <button class="botao-cadastrar" style="font-weight: bold">CADASTRAR</button>
                </div>
            </div>
        </div>

        <div class="info-atendimento">
            <div class="container-1-atendimento">
                <div>
                    <img src="./img/logo-menu.png" alt="logo Lumière Cosméticos">
                </div>
                <div>
                    <p class="texto-logo">
                        <span>Realçando a beleza que existe em você.</span>
                    </p>
                    <p>
                        <span>Produtos de qualidade para todos os momentos</span>
                    </p>
                </div>
                <div class="redes-sociais">
                    <img src="./img/Instagram Old.png" alt="logo instagram">
                    <img src="./img/Facebook.png" alt="logo facebook">
                    <img src="./img/TikTok.png" alt="logo tiktok">
                </div>
            </div>

            <div class="container-2-atendimento">
                <div>
                    <span style="font-weight: bold">Atendimento</span>
                </div>
                <div class="icones-texto">
                    <img src="./img/WhatsApp.png" alt="logo whats-app">
                    <span>(11)99999-9999</span>
                </div>
                <div class="icones-texto">
                    <img src="./img/Gmail Logo.png" alt="logo gmail">
                    <span>Atendimento@lumiere.com.br</span>
                </div>
                <div class="icones-texto">
                    <img src="./img/Time Machine.png" alt="logo relogio">
                    <span>Seg a Sex: 9h - 18h</span>
                </div>
            </div>
        </div>
    </main>
    <hr>
    <footer>

        <span>2026 Lumière cosméticos. Todos os direitos reservados.</span>
    </footer>
</body>

</html>